<div class="register-container">
    <div class="register-card">
        <div class="register-header">
            <h2>Create Account</h2>
            <p>Join our music community</p>
        </div>
        <form nz-form [formGroup]="validateForm" class="register-form" (ngSubmit)="submitForm()">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="emailErrorTpl"
                    [nzValidatingTip]="'Checking email availability...'">
                    <input nz-input formControlName="email" id="email" type="email" [disabled]="isLoading" />
                    <ng-template #emailErrorTpl let-control>
                        @if (control.errors?.['required']) {
                        Please input your email!
                        }
                        @if (control.errors?.['email']) {
                        The input is not valid E-mail!
                        }
                        @if (control.errors?.['emailExists']) {
                        {{ control.errors['emailExists'].message }}
                        }
                    </ng-template>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="firstName">First Name</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your first name!">
                    <input nz-input formControlName="firstName" id="firstName" [disabled]="isLoading" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="lastName">Last Name</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your last name!">
                    <input nz-input formControlName="lastName" id="lastName" [disabled]="isLoading" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Password</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="passwordErrorTpl">
                    <input nz-input type="password" id="password" formControlName="password" [disabled]="isLoading" />
                    @if (validateForm.get('password')?.value && passwordStrength) {
                    <div class="password-strength">
                        <span class="strength-label">Password strength: </span>
                        <span [class]="'strength-' + passwordStrength">{{ passwordStrength }}</span>
                    </div>
                    }
                    <ng-template #passwordErrorTpl let-control>
                        @if (control.errors?.['required']) {
                        Please input your password!
                        }
                        @if (control.errors?.['passwordStrength']) {
                        {{ control.errors['passwordStrength'].message }}
                        }
                    </ng-template>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired>Confirm</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
                    <input nz-input type="password" formControlName="checkPassword" id="checkPassword"
                        placeholder="Confirm your password" [disabled]="isLoading" />
                    <ng-template #errorTpl let-control>
                        @if (control.errors?.['required']) {
                        Please confirm your password!
                        }
                        @if (control.errors?.['confirm']) {
                        Two passwords that you enter is inconsistent!
                        }
                    </ng-template>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item nz-row class="register-area">
                <nz-form-control [nzSpan]="14" [nzOffset]="6">
                    <button nz-button nzType="primary" class="register-button" [nzLoading]="isLoading"
                        [disabled]="!validateForm.valid">
                        {{ isLoading ? 'Creating account...' : 'Register' }}
                    </button>
                </nz-form-control>
            </nz-form-item>

            <div class="login-link">
                Already have an account? <a routerLink="/login">Sign in</a>
            </div>
        </form>
    </div>
</div>